<header class="ms-hero-page ms-hero-img-keyboard ms-hero-bg-dark color-white">
  <div class="container index-1">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="text-uppercase animated fadeInDown animation-delay-5 typed-title">It's time for
          <br>
          <span class="color-primary typed-class">better help.</span>
        </h1>
        <p class="lead lead-sm animated fadeInLeft animation-delay-7 color-light">Fugit velit necessitatibus maiores ex
          sit modi vitae repellendus, doloremque optio libero voluptas sed suscipit officiis ducimus iste.</p>
        <ul class="ms-list-arrow">
          <li class="animated fadeInUp animation-delay-7">Convenient</li>
          <li class="animated fadeInUp animation-delay-10">Affordable</li>
          <li class="animated fadeInUp animation-delay-13">Private online counseling</li>
          <li class="animated fadeInUp animation-delay-16">Anytime, anywhere.</li>
        </ul>
        <div class="text-center">
          <a href="javascript:void(0)" class="btn btn-raised btn-lg btn-white color-primary animated flipInX animation-delay-20">
            <i class="zmdi zmdi-graduation-cap"></i> I am teacher</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-lg btn-warning animated flipInX animation-delay-24">
            <i class="zmdi zmdi-male-female"></i> I am parent</a>
        </div>
      </div>
      <div class="col-lg-6 text-center mt-4">

        <%= image_tag('kindness-classroom-web.jpg', class: 'img-fluid animated zoomInDown animation-delay-3 index-1') %>

      </div>
      <div class="col-lg-12">
        <div class="text-center ms-margin">
          <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-20">
            <div class="btn-container">
              <i class="fa fa-html5"></i>
              <span>Aviable as</span>
              <br>
              <strong>Web App</strong>
            </div>
          </a>
          <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-22">
            <div class="btn-container">
              <i class="fa fa-windows"></i>
              <span>Download for</span>
              <br>
              <strong>Windows</strong>
            </div>
          </a>
          <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-24">
            <div class="btn-container">
              <i class="fa fa-apple"></i>
              <span>Download for</span>
              <br>
              <strong>MacOS</strong>
            </div>
          </a>
          <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-26">
            <div class="btn-container">
              <i class="fa fa-android"></i>
              <span>Aviable in </span>
              <br>
              <strong>Play Store</strong>
            </div>
          </a>
          <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-28">
            <div class="btn-container">
              <i class="fa fa-apple"></i>
              <span>Aviable in </span>
              <br>
              <strong>App Store</strong>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
