<div class="ms-site-container ms-nav-fixed">
  <nav class="navbar navbar-expand-md navbar-fixed ms-lead-navbar navbar-mode navbar-mode mb-0" id="navbar-lead">
    <%= render 'shared/top_nav' %>
  </nav>
  <div class="wrap ms-hero-img-brain-color ms-hero-bg-info color-white ms-bg-fixed full-screen-height">
    <div class="container ms-paper-content index-1 mt-20">
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-raised btn-primary pull-right" href="/voices">Finish</a>
        </div>
      </div>
      <section class="calendar-cover">
        <div id="calendar"></div>
      </section>
    </div>
  </div>
</div>
