<div class="ms-site-container ms-nav-fixed">
  <nav class="navbar navbar-expand-md navbar-fixed ms-lead-navbar navbar-mode navbar-mode mb-0" id="navbar-lead">
    <%= render 'shared/top_nav' %>
  </nav>
  <div class="wrap ms-hero-img-brain-color ms-hero-bg-info color-white ms-bg-fixed full-screen-height">
    <div class="container ms-paper-content index-1">
      <section class="calendar-cover">
        <div id="calendar" class="ms-hero-img-meeting ms-hero-bg-dark-light"></div>
      </section>
    </div>
  </div>
</div>
