<div class="ms-site-container">
  <!-- Modal -->
  <%= render 'shared/header'%>
  <nav class="navbar navbar-expand-md  navbar-static ms-navbar full-screen-heigh">
  <%= render 'shared/top_nav'%>
  </nav>
  <%= render 'shared/banner'%>
</div>
