<div class="ms-site-container ms-nav-fixed">
  <nav class="navbar navbar-expand-md ms-lead-navbar navbar-mode navbar-mode mb-0" id="navbar-lead">
    <%= render 'shared/top_nav' %>
  </nav>
  <div class="wrap ms-hero-img-brain-color ms-hero-bg-info ms-bg-fixed full-screen-height">
    <div class="container text-center mt-6">
      &lt;<h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Connecting.......</h1>
      <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 fw-300 animated fadeInUp animation-delay-7">
        We are connecting you with our psychologist
      </p>
    </div>
  </div>
</div>
