%article.card.wow.fadeInLeft.animation-delay-5.mb-4
  .card-block
    .row
      .col-lg-6
        = image_tag('demo/port6.jpg', class: 'img-responsive mb-4')
      .col-lg-6
        %h3.no-mt
          %a{:href => "javascript:void(0)"} Earum delectus libero ipsa temporibus in minus
        %p.mb-4 Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis,
    .row
      .col-lg-8
        = image_tag('demo/avatar50.jpg', class: 'img-circle mr-1')
        by
        %a{:href => "javascript:void(0)"} Victoria
        in
        %a.ms-tag.ms-tag-info{:href => "javascript:void(0)"} Design
        %span.ml-1.hidden-xs
          %i.zmdi.zmdi-time.mr-05.color-info
          %span.color-medium-dark 3 days ago
      .col-lg-4.text-right
        %a.btn.btn-primary.btn-raised.btn-block.animate-icon{:href => "javascript:void(0)"}
          Read More
          %i.ml-1.no-mr.zmdi.zmdi-long-arrow-right
